# Port Server Backend
PORT=3000

# Groq Cloud AI API Key (Rekomendasi Gratis 14.400 request/hari: https://console.groq.com/keys)
GROQ_API_KEY=

# Google Gemini AI API Key (Dapatkan gratis di https://aistudio.google.com)
GEMINI_API_KEY=

# Model AI (Default: gemini-1.5-flash)
AI_MODEL_NAME=gemini-1.5-flash

# Auto Reply Bot AI WhatsApp (true / false)
AI_AUTO_REPLY=false

# Firebase Firestore & Auth Configuration (Wajib untuk login & penyimpanan data)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# MongoDB URI (Opsional: Jika diisi, sesi WhatsApp akan disimpan permanen di database)
# Contoh: mongodb+srv://user:password@cluster0.mongodb.net/?retryWrites=true&w=majority
MONGODB_URI=
