# Port Server Backend
PORT=3000

# Google Gemini AI API Key (Dapatkan gratis di https://aistudio.google.com)
GEMINI_API_KEY=

# Auto Reply Bot AI WhatsApp (true / false)
AI_AUTO_REPLY=false

# Firebase Firestore Configuration (Opsional jika menggunakan Firebase)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
